/* Imports */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:700&display=swap');

@font-face {
    font-family: 'Segoe Ui';
    src: local('../_assets/fonts/segoe-mt.ttf'), url('../_assets/fonts/segoe-mt.ttf');
} 

/* Tags */

/**
 * Remove os indicadores de uma <ul>
 */
.h-20 {
    height: 20%;
}

h1, .source-sans-pro, #way h3 {
    font-family: 'Source Sans Pro', sans-serif;
}

p {
    font-size: 14pt;
}

h3 {
    font-family: "Segoe Ui", sans-serif;
}

ul {
    list-style-type: none;
}

.blue_button {
    background-color: #92d4de;
    color: white;
    font-weight: bold;
    padding: 3% 5% 3% 5%;
    border: none;
    border-radius: 90px;
}

.blue_button:hover {
    background-color: #92c8de;
    cursor: pointer;
}

.circle {
    position: absolute;
    border-radius: 90%;
    border: 5px white solid;
    width: 2.5em;
    height: 2.5em;
    background-color: #92c8de;
}

.linha-bottom {
    position: bottom;
    width: 2px;
    height: 50%;
    background-color: #bfbfbf;
    transform: translateY(50%);
}

.linha {
    position: bottom;
    width: 2px;
    height: 100%;
    background-color: #bfbfbf;
}

.linha-up {
    position: bottom;
    width: 2px;
    height: 50%;
    background-color: #bfbfbf;
    transform: translateY(-50%);
}

.search-button {
    background-color: #fff;
    border-radius: 90px;
    border: 1px #bfbfbf solid;
}

.search-input {
    background-color: #fff;
    border-radius: 90px;
    border: 1px #bfbfbf solid;
}

/* Id's */
#home {
    height: 100vh;
}

#background {
    background-image: url(../_assets/img/background.svg);
    background-size: cover;
}


/* Classes */

/**
 * Insere uma margem de segurança de 5% em cima e em baixo entre as tags de semântica
 */
.secutiry-margin {
    margin: 5% 0 5% 0;
}

/**
 * Altera a cor de um texto para lightblue: #92d4de
 */
.color-lightblue {
    color: #92d4de !important;
}

/**
 * Altera a cor de um texto para lightgray: #bfbfbf
 */
.color-lightgray {
    color: #bfbfbf !important;
}

.color-red {
    color: #e60000 !important;
}

.bg-gray {
    background-color: #e5e4e9;
    border-radius: 30px;
}

.bg-red {
    background-color: #ff001a;
    border-radius: 30px 0px 0px 30px;
}

/**
 * Mantém ícones sempre com a mesma medida de 40 pixels
 */
.icon-width {
    width: 40px;
}

.border-rounded {
    border: 3px solid;
    border-radius: 90px;
}

.full-image {
    z-index: -1;
    position: absolute;
    transform: translateY(-62%);
}

.white-card {
    background-color: white;
    border-radius: 45px;
    border: 1px solid #bfbfbf;
}

.font-up {
    font-size: 50pt;
}

@media (min-width: 1200px) {
    .h-xl-50 {
        height: 50vh;
    }
}