@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:700&display=swap');

@font-face {
    font-family: 'Segoe Ui';
    src: local('../_assets/fonts/segoe-mt.ttf'), url('../_assets/fonts/segoe-mt.ttf');
} 

#title {
    font-size: 3.8em;
}

.h-20 {
    height: 20%;
}

h1, .source-sans-pro, #way h3 {
    font-family: 'Source Sans Pro', sans-serif;
}

p {
    font-size: 14pt;
}

h3 {
    font-family: "Segoe Ui", sans-serif;
}

ul {
    list-style-type: none;
}

.blue_button {
    background-color: #92d4de;
    color: white;
    font-weight: bold;
    padding: 1em 3em 1em 3em;
    border: none;
    border-radius: 90px;
}

.blue_button:hover {
    background-color: #92c8de;
    cursor: pointer;
}

.circle {
    position: absolute;
    border-radius: 90%;
    border: 5px white solid;
    width: 2.5em;
    height: 2.5em;
    background-color: #92c8de;
}

.linha-bottom {
    position: bottom;
    width: 2px;
    height: 50%;
    background-color: #bfbfbf;
    transform: translateY(50%);
}

.linha {
    position: bottom;
    width: 2px;
    height: 100%;
    background-color: #bfbfbf;
}

.linha-up {
    position: bottom;
    width: 2px;
    height: 50%;
    background-color: #bfbfbf;
    transform: translateY(-50%);
}

.search-button {
    background-color: #fff;
    border-radius: 90px;
    border: 1px #bfbfbf solid;
}

.search-input {
    background-color: #fff;
    border-radius: 90px;
    border: 1px #bfbfbf solid;
}

#home {
    height: 100vh;
}

#background {
    background-image: url(../_assets/img/background.svg);
    background-size: cover;
}

.security-margin {
    margin-bottom: 5%;
}

.border-lightgray {
    border-color: #bfbfbf;
}

.text-lightgray {
    color: #bfbfbf !important;
}

.text-gray {
    color: #adadad !important;
}

.text-red {
    color: #e60000 !important;
}

.text-lightblue {
    color: #92d4de;
}

.text-blue {
    color: #0de3ff !important;
}

.text-green {
    color: #17c29d !important;
}

#importantOptions li {
    padding: 0px 0px 0px 0px;
}

#donator:hover {
    border-color: #cf0606 !important;
    box-shadow: 0px 0px 2px rgba(255, 0, 0, 0.6), 0px 4px 15px rgba(0, 0, 0, 0.05);
}

#partner:hover {
    border-color: #07c7e0 !important;
    box-shadow: 0px 0px 2px rgba(0, 226, 255, 0.6), 0px 4px 15px rgba(0, 0, 0, 0.05);
}

#whatsapp:hover {
    border-color: #17c29d !important;
    box-shadow: 0px 0px 2px rgba(25, 209, 169, 0.6), 0px 4px 15px rgba(0, 0, 0, 0.05);
}

#whatsapp a:hover, #donator a:hover, #partner a:hover {
    color: #757575 !important;
}

.bg-gray {
    background-color: #e5e4e9;
    border-radius: 30px;
}

.bg-red {
    background-color: #ff001a;
    border-radius: 30px 0px 0px 30px;
}

.little-shadow {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
}

.icon-width {
    width: 50px;
}

.border-rounded {
    border: 3px solid;
    border-radius: 90px;
}

.full-image {
    z-index: -1;
    height: 100%;
    transform: translateY(-50%);
}

.white-card {
    background-color: white;
    border-radius: 45px;
    border: 1px solid #bfbfbf;
}

.font-up {
    font-size: 50pt;
}

footer {
    background: url("../_assets/img/rodape.svg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 25vh;
}

#contato-whatsapp {
    background-color: #ffffff;
    transform: rotate(45deg);
}

div .sobreposicao:hover {
    background: rgba(20, 31, 64, 0.8);
}

.text-indent-normal {
    text-indent: 1.5em;
}

.menu-scroll-security {
    padding-top: 90px;
}

.card-hover {
    box-shadow: none;
    animation: boxFadeOut ease 0.4s;
}

.card-hover:hover {
    box-shadow: 0px 0px 15px rgba(0,0,0,0.08);
    animation: boxFadeIn ease 0.2s;
}

@keyframes boxFadeIn {
    0% {
        box-shadow: none;
    }
    100% {
        box-shadow: 0px 0px 15px rgba(0,0,0,0.08);
    }
}

@keyframes boxFadeOut {
    0% {
        box-shadow: 0px 0px 15px rgba(0,0,0,0.08);        
    }
    100% {
        box-shadow: none;
    }
}

.notice-hover {
    width: 100%;
    height: 100%;  
}

.notice-hover:hover {
    background-clip: content-box;
    background-color: rgba(0,0,0,0.5);
}

@keyframes noticeHoverIn {
    0% {

    }
    100% {

    }
}

@keyframes noticeHoverOut {
    0% {

    }
    100% {

    }
}